doctype html
html( lang="en" )
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    meta(http-equiv="Content-Type", content="text/html")
    meta(name="theme-color", content="#000000")
    meta(name="author", content="Aram Petrosyan")
    title #{title}
    link(rel="shortcut icon" href="https://bit.ly/2ZSgiRy" type="image/x-icon")
    link(rel="stylesheet" href="/index.css")
  body
    block page